# Copyright (c) 2025 yezhengmao

---
# need clang-format version >= 15
Language: Cpp
IndentWidth: 4
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
MaxEmptyLinesToKeep: 1
ColumnLimit: 90
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
PointerAlignment: Right
SortIncludes: false